<ng-container *transloco="let t">
    <h2 class="page-title">{{t('titles.signup')}} </h2>
    <form class="needs-validation" novalidate>
        <app-email-input> </app-email-input>
        <app-password-input> </app-password-input>
        <app-password-input> </app-password-input>
        <app-already-signed-up link="log-in" [alreadySignedUpText]="t('alreadySignedUp')" [linkText]="t('alreadySignedUpLink')"> </app-already-signed-up>
        <button class="management-button back-button" type="reset"> {{t('buttons.back')}} </button>
        <button class="management-button confirm-button" type="submit"> {{t('buttons.signup')}} </button>
    </form>
</ng-container>