<!-- <button id="slide-image__left-arrow"> <img src="../../../assets/images/left-arrow.png" alt="left arrow"></button>
    <div class="slide-image-thing" *transloco="let t">
      <div class="dark-filter">
        <div class="slide-image-thing-text">
          <h3 class = "slide-image-thing__center-text"> {{t('slideShowTitle')}} </h3>
          <p class = "slide-image-thing__center-text-p"> {{t('slideShowAddress')}} </p>
        </div>
      </div>
    </div>
<button id="slide-image__right-arrow"> <img src="../../../assets/images/right_arrow.png" alt="right arrow"> </button> -->
<ngb-carousel *transloco="let t">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/images/carousel/restaurante-1.jpg" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/images/carousel/restaurante-3.jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
</ngb-carousel>