<ng-container *transloco="let t">
  <h3 id="shopping-cart-title"> {{t('shoppingCart')}} </h3>

  <div class="cart-item-lang" *ngFor="let cartItem of cartItems">
    <img *ngIf="cartItem.menuItem.imageUrl" [src]="cartItem.menuItem.imageUrl" alt="item image" class="buy-image-food">
    <span> {{ cartItem.menuItem.name[getActiveLanguage()] }} </span>
    <span> {{ cartItem.menuItem.ingredients[getActiveLanguage()] }} </span>
    <span> {{ cartItem.menuItem.price | currency: 'EUR'}} </span>
    <span> {{ cartItem.amount }} </span>
  </div>
  
  <div class="cart-buttons">
    <button class="management-button back-button">{{t('buttons.back')}}</button>
    <button class="management-button cancel-button" (click)="clearCart()">{{t('buttons.deleteCart')}}</button>
  </div>
</ng-container>
