<ng-container *transloco="let t">
  <h2 class="page-title">{{t('titles.orderUser')}}</h2>
  <form id="orderForm" #myForm="ngForm" [formGroup]="form">

    <label>
      {{t('orderForms.optionLabel')}}
      <mat-radio-group aria-label="Select an option" formControlName="isHomeDelivery">
        <mat-radio-button  [value]="true">{{t('orderForms.homeDelivery')}}</mat-radio-button>
        <mat-radio-button  [value]="false">{{t('orderForms.pickUpOrder')}}</mat-radio-button>
      </mat-radio-group>
    </label>

    <ng-container *ngIf="this.form.controls.isHomeDelivery.value">
      <label>
        {{ t('orderForms.directionLabelRequest') }}
        <input formControlName="deliveryAddress" type="text">
      </label>
    </ng-container>

    <label>
      {{t('orderForms.askLabel')}}
      <input type="button" class="previous-order-button" value="{{t('orderForms.previousOrderButton')}}">
    </label>
    <app-menu></app-menu>
    <app-cart></app-cart>

    <div class="totalPrice">
    {{t('orderForms.totalPrice')}} : {{order.getTotalPrice() | number}} €
    </div>

    <!-- Aqui iría el botón submit -->

  </form>

</ng-container>




