<table class="data-table" *transloco="let t">
  <tr class="title-row">
    <th>{{t('reservationsTable.date')}}</th>
    <th>{{t('reservationsTable.time')}}</th>
    <th>{{t('reservationsTable.customers')}}</th>
  </tr>
  <ng-container *ngIf="reservations.length > 0">
    <tr
      *ngFor="let reservation of reservations"
      [class.selected-row]="reservation === selectedRow"
      (click)="onRowClicked(reservation)"
    >
      <td>{{reservation.date | date: t('dateFormat')}}</td>
      <td>{{reservation.time}}</td>
      <td>{{reservation.customers}}</td>
    </tr>
  </ng-container>
  <tr class="empty-row" *ngFor="let i of [].constructor(maxReservations - reservations.length)">
    <td colspan="3">
      {{t('tableEmptyRows.reservations', { available: maxReservations - reservations.length })}}
    </td>
  </tr>
</table>
