<table class="data-table" *transloco="let t">
  <tr class="title-row">
    <th>{{t('reservationsTable.date')}}</th>
    <th>{{t('reservationsTable.time')}}</th>
    <th>{{t('reservationsTable.customers')}}</th>
  </tr>
  <ng-container *ngIf="reservations.length > 0; else emptyRow">
    <tr
      *ngFor="let reservation of reservations"
      [class.selected-row]="reservation === selectedRow"
      (click)="onRowClicked(reservation)"
    >
      <td>{{reservation.date | date: t('dateFormat')}}</td>
      <td>{{reservation.time}}</td>
      <td>{{reservation.customers}}</td>
    </tr>
  </ng-container>
  <ng-template #emptyRow>
    <tr>
      <td colspan="2">{{t('tableEmptyRows.reservations')}}</td>
    </tr>
  </ng-template>
</table>
