.footer-section {
    margin-top: 5rem;
    grid-area: footer;
}

.footer-container {
    box-sizing: content-box;
    background-color: var(--footer-background-color);
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    padding: 2rem 0 1.5rem 0;
}

.footer-container ul{
    list-style-type:none;
}

.contact-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding-bottom: 1em;
}

.contact-list .copyright{
    font-size: 0.8em;
}

.hours {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items:center;
}

.hours pre{
    padding-top: 40%;
}

.social-list {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:1em;
}

.social-icons {
    padding-top: 50%;
}

.social-icons img{
    padding-bottom: 25%;
}

.social-media-icon {
    transform: translateY(25%);
}

.social-media-icon img {
    width: 3rem;
}

hr{
    height:80%;
    width:0.1%;
    border-width:0;
    color:black;
    background-color:black;
}

.icons-size {
    width: 3em;
    height: 3em;
    display: inline-block;
    margin-left: 1em;
}

.icons-size a {
    display: inline-block;
}

.icons-size img {
    width: 100%;
    height: 100%;
}
