<!--<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
        <a>La Nostra Casa</a>
        <button mat-icon-button><mat-icon>shopping_cart</mat-icon></button>
        <button mat-icon-button><mat-icon>account_circle</mat-icon></button>

    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container autosize *ngIf="showSidenav">
    <mat-sidenav>
        <mat-nav-list>
            <mat-list-item><a>Inicio</a></mat-list-item>
            <mat-list-item><a>Menú</a></mat-list-item>
            <mat-list-item><a>Reservas</a></mat-list-item>
            <mat-list-item><a>Sobre nosotros</a></mat-list-item>
            <mat-list-item><a>Iniciar sesión</a></mat-list-item>
            <mat-list-item><a>Registrarse</a></mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>-->
<header class="navbar-header" *transloco="let t">
<nav id="nav-bar-container">
    <ul class = "navbar-list">
        <li class="navbar-list__logo">
            <a id="la-nostra-casa-nav-logo" href="/"><img src="/assets/images/logo.png" alt="Logo" width="100"></a>
            <button (click)="onChangeLanguage()">
            <img src="{{t('oppositeFlag')}}" alt="Flag" width="50">
            </button>
            <button class="hamburger-button">
                <img src="/assets/images/hamburger-button.png" alt="Button that opens menu" width="40">
            </button>
        </li>
        <a *ngFor="let item of items" routerLink="item">{{t('navbarLinks.' + item)}}</a>
        <li *ngIf="showUserIcon" class="navbar-list__user-icon">
            <a class="user-icon"><img src="/assets/images/user-icon.png" alt="User" width="50"></a>
        </li>
    </ul>
</nav>
</header>
