<ng-container *transloco="let t">
  <header>
    <mat-toolbar #toolbar class="position-fixed" style="z-index: 1000; background-color: var(--main-color);">
      <mat-toolbar-row>
        <button class="p-2 me-2" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="scale-150">menu</mat-icon>
        </button>
        <h2 class="flex-fill"><a routerLink="/home" class="text-decoration-none text-white">La Nostra Casa</a></h2>
        <button class="p-2 mx-sm-2 d-flex justify-content-center align-items-center" mat-icon-button (click)="changeLanguage()">
          <img class="scale-150" [src]="t('oppositeFlag')" alt="Language">
        </button>
        <a routerLink="/cart" class="p-2 mx-sm-2 text-black text-decoration-none" mat-icon-button>
          <mat-icon class="scale-150">shopping_cart</mat-icon>
        </a>
        <a routerLink="/my-account" class="p-2 mx-sm-2 text-black text-decoration-none" mat-icon-button>
          <mat-icon class="scale-150">account_circle</mat-icon>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <mat-sidenav-container>
    <mat-sidenav
      #sidenav [mode]="(mobileQueryMatches$ | async) ? 'over' : 'side'"
      [class.w-100]="mobileQueryMatches$ | async"
      fixedInViewport
      [fixedTopGap]="toolbar._elementRef.nativeElement.offsetHeight"
    >
      <mat-nav-list>
        <a mat-list-item *ngFor="let link of links$ | async" [routerLink]="link.route">
          <span class="py-5 mx-2">{{t(link.name)}}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [style.margin-top]="toolbar._elementRef.nativeElement.offsetHeight + 'px'">
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>


<!--<header class="navbar-header" *transloco="let t">
<nav id="nav-bar-container">
    <ul class = "navbar-list">
        <li class="navbar-list__logo">
            <a id="la-nostra-casa-nav-logo" routerLink="/home"><img src="/assets/images/logo.png" alt="Logo" width="100"></a>
            <button (click)="onChangeLanguage()"><img src="{{t('oppositeFlag')}}" alt="Flag" width="50"></button>
            <button class="hamburger-button">
                <img src="/assets/images/hamburger-button.png" alt="Button that opens menu" width="40">
            </button>
        </li>
        <a *ngFor="let link of links$ | async" [routerLink]="link.route">{{t('navbarLinks.' + link.name)}}</a>
        <li *ngIf="showUserIcon$ | async; else logInLink" class="navbar-list__user-icon">
          <a class="user-icon" routerLink="my-account"><img src="/assets/images/user-icon.png" alt="User" width="50"></a>

        </li>
        <ng-template #logInLink>
          <a routerLink="log-in">{{t('navbarLinks.login')}}</a>
        </ng-template>
    </ul>
</nav>
</header>-->
<!--
<mat-toolbar style="background-color: var(&#45;&#45;main-color); z-index: 1000;" class="position-fixed">
  <mat-toolbar-row class="d-flex align-items-center flex-row">
    <button class="p-2 me-2" mat-icon-button (click)="toggleSidenav()">
      <mat-icon class="scale-1-5">menu</mat-icon>
    </button>
    <h2 class="flex-fill"><a routerLink="/home" class="text-decoration-none text-white">La Nostra Casa</a></h2>
    <a class="p-2 text-black text-decoration-none" mat-icon-button>
      <mat-icon class="scale-1-5">shopping_cart</mat-icon>
    </a>
    <a class="p-2 text-black text-decoration-none" mat-icon-button>
      <mat-icon class="scale-1-5">account_circle</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="position-fixed d-flex flex-column">
  <mat-sidenav [mode]="mobileQueryMatches() ? 'over' : 'side'" [fixedInViewport]="mobileQueryMatches()">
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of links$ | async" [routerLink]="link.route">{{link.name}}</a>
      <a href="">ESTO ES UN LINK</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>-->
