<header class="navbar-header">
  <nav id="nav-bar-container">
    <ul class = "navbar-list">
        <li class="navbar-list__logo">
            <a id="la-nostra-casa-nav-logo" href="/"><img src="/assets/images/logo.png" alt="Logo" width="100"></a>
            <button class="hamburger-button">
                <img src="/assets/images/hamburger-button.png" alt="Button that opens menu" width="40">
            </button>
        </li>
        <a *ngFor="let item of items" routerLink="item.link">{{item.label}}</a>
        <li *nfIf="showUserIcon" class="navbar-list__user-icon">
            <a href="/logged-in/html/my-account.html" class="user-icon"><img src="/assets/images/user-icon.png" alt="User" width="50"></a>
        </li>
    </ul>
  </nav>
</header>
