<ng-container *transloco="let t">
  <label>
    {{t('orderForms.optionLabel')}}
    <mat-radio-group aria-label="Select an option" [formControl]="radioControls">
      <mat-radio-button  (click)="onHomeDeliverySelected()" [value]="true">{{t('orderForms.homeDelivery')}}</mat-radio-button>
      <mat-radio-button  (click)="onHomeDeliverySelected()" [value]="false">{{t('orderForms.pickUpOrder')}}</mat-radio-button>
    </mat-radio-group>
  </label>

  <ng-container *ngIf="radioControls.value">
    <label>
      {{ t('orderForms.directionLabelRequest') }}
      <input [formControl]="textControls" type="text">
    </label>
  </ng-container>
</ng-container>
