<ng-container *transloco="let t">
  <h1 class="page-title">{{t('ordersAdmin.title')}}</h1>

  <mat-tab-group animationDuration="1000ms">
    <mat-tab label="First">
      <ng-container *ngTemplateOutlet="cards; context:allOrders"></ng-container>
    </mat-tab>
    <mat-tab label="Second">
      <ng-container *ngTemplateOutlet="cards ;context:activeOrders"></ng-container>
    </mat-tab>
  </mat-tab-group>

  <ng-template #cards let-orders="orders">
    <section class="cards-grid">
      <mat-card [style.border-color]="order.isFinished ? 'greenyellow' : 'red'" *ngFor="let order of orders">
        <mat-card-title class="card-title">{{t('ordersAdmin.cardTitle')}}{{order.id}}</mat-card-title>
        <mat-card-subtitle>{{t('ordersAdmin.dateLabel')}}{{order.creationTimestamp | date:'medium'}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="order.isHomeDelivery;else isPickUp">{{t('ordersAdmin.deliveryAddressLabel')}}{{order.deliveryAddress}}</mat-card-subtitle>
        <ng-template #isPickUp><mat-card-subtitle> {{t('ordersAdmin.pickUpLabel')}}</mat-card-subtitle></ng-template>
        <mat-card-content *ngFor="let item of order.cartItems">{{item.amount}}X {{item.menuItem.name[getActiveLanguage()]}}</mat-card-content>
        <mat-card-actions [align]="'end'">
          <button (click)="completeOrder(order.id)" class="confirm-button management-button" *ngIf="!order.isFinished;else elseComplete">{{t('ordersAdmin.confirmButton')}}</button>
          <ng-template #elseComplete>
            <button class="confirm-button management-button" disabled>{{t('ordersAdmin.completedLabel')}}</button>
          </ng-template>
        </mat-card-actions>
      </mat-card>
    </section>
  </ng-template>
</ng-container>
