<ng-container *transloco="let t">
  <h1 class="page-title">{{t('ordersAdmin.title')}}</h1>

  <mat-tab-group animationDuration="1000ms">
    <mat-tab label="{{t('ordersAdmin.activeCards')}}">
      <ng-container *ngTemplateOutlet="cards ;context:activeOrders"></ng-container>
    </mat-tab>
    <mat-tab label="{{t('ordersAdmin.allCards')}}">
      <ng-container *ngTemplateOutlet="cards; context:allOrders"></ng-container>
    </mat-tab>
  </mat-tab-group>

  <ng-template #cards let-orders="orders">
    <section class="cards-grid">
      <mat-card class="main-card" *ngFor="let order of orders">
        <mat-card-title class="card-title">{{t('ordersAdmin.cardTitle')}}{{order.id}}</mat-card-title>
        <mat-card-subtitle>{{order.creationTimestamp | date:'short'}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="order.isHomeDelivery;else isPickUp">{{t('ordersAdmin.deliveryAddressLabel')}}{{order.deliveryAddress}}</mat-card-subtitle>
        <ng-template #isPickUp><mat-card-subtitle> {{t('ordersAdmin.pickUpLabel')}}</mat-card-subtitle></ng-template>
        <mat-card *ngFor="let cartItem of order.cartItems" class="m-2">
          <mat-card-header>
            <mat-card-title>
              <b>{{cartItem.quantity + ' x '}}</b>{{cartItem.menuItem.name[activeLanguage]}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-card-subtitle>{{cartItem.menuItem.ingredients[activeLanguage]}}</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
        <mat-card-actions *ngIf="orders===activeOrders.orders" [align]="'end'">
          <button (click)="completeOrder(order.id)" class="confirm-button management-button" *ngIf="!order.isFinished">{{t('ordersAdmin.confirmButton')}}</button>
        </mat-card-actions>
      </mat-card>
    </section>
  </ng-template>
</ng-container>
