.main-card{
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  display:grid;
  grid-template-rows:repeat(3,min-content);
}
mat-card-subtitle{
  text-align: center;

}
mat-card-actions{
  justify-content: center;
  align-self: flex-end;

}
button{
  width: max-content;

}
