<mat-form-field appearance="outline" *transloco="let t">
  <mat-label>
    {{t('formLabels.password')}}
  </mat-label>
  <input matInput [formControl]="control" [type]="hidePassword ? 'password' : 'text'">
  <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-error *ngIf="control.errors?.['minlength']">{{t('formErrors.passwordShort', {minLength})}}</mat-error>
  <mat-error *ngIf="control.errors?.['maxlength']">{{t('formErrors.passwordLong', {maxLength})}}</mat-error>
</mat-form-field>
