<ng-container *transloco="let t">
  <h2 class="page-title">{{t('titles.reservations')}}</h2>
  <section class="content-section">
    <app-reservations-table
      [reservations]="userReservations"
      [maxReservations]="maxReservations"
      (selectedReservationChanged)="onSelectedReservationChanged($event)"
    ></app-reservations-table>
    <div class="buttons-container">
      <button class="management-button back-button" onclick="window.history.back()">{{t('buttons.back')}}</button>
      <button
        class="management-button cancel-button"
        [disabled]="selectedReservation === null"
        (click)="onCancelReservation()"
      >{{t('buttons.cancelReservation')}}</button>
      <button
        class="management-button confirm-button"
        routerLink="/new-reservation"
        [disabled]="userReservations.length >= maxReservations"
      >{{t('buttons.newReservation')}}</button>
    </div>
  </section>

</ng-container>
