<ng-container *transloco="let t">
  <h2 class="page-title">{{t('titles.newReservation')}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-date-picker [availableDates]="availableDates" [control]="form.controls.date"></app-date-picker>
    <app-time-picker [availableTimes]="availableTimes" [control]="form.controls.time"></app-time-picker>
    <app-customers-input [control]="form.controls.customers" [maxCustomers]="availableSeats"></app-customers-input>
    <div class="buttons-container">
      <button class="form-button back-button" type="reset" onclick="window.location.back()">
        {{t('buttons.back')}}
      </button>
      <button class="form-button confirm-button" type="submit" [disabled]="!form.valid">
        {{t('buttons.confirm')}}
      </button>
    </div>
  </form>
</ng-container>



