<ng-container *transloco="let t">
  <h2 class="page-title">
    <ng-container *ngFor="let lang of availableLanguages">
      <p>{{sectionBeingEdited.name[lang]}}</p>
    </ng-container>
  </h2>

  <section class="container flex-row">
    <app-menu-item
      *ngFor="let item of sectionItems$ | async"
      [availableLanguages]="availableLanguages"
      [menuItem]="item"
      (menuItemDeleted)="onDeleteItemClicked($event)"
      (menuItemEdited)="onEditItemClicked($event)"
    >
    </app-menu-item>

    <div class="buttons-container">
      <button class="management-button back-button" onclick="window.history.back()">
        {{t('buttons.back')}}
      </button>
      <button class="management-button confirm-button" (click)="onAddItemClicked()">
        {{t('buttons.addMenuItem', { section: sectionBeingEdited.name[getActiveLanguage()] })}}
      </button>
    </div>
  </section>

</ng-container>
