<ng-container *transloco="let t">
  <h2 class="page-title">
    <mat-card class="p-2">
      <mat-card-title *ngFor="let lang of availableLanguages" class="me-5">
        <p>
          <span class="fw-light">{{t('menuSection.name.' + lang) + ': '}}</span>
          {{sectionBeingEdited.name[lang]}}
        </p>
      </mat-card-title>
      <button mat-icon-button class="position-absolute top-0 end-0 p-2" (click)="openSectionEditFormDialog()">
        <mat-icon class="scale-2" [ngStyle]="{color: 'var(--edit-button-color)'}">edit</mat-icon>
      </button>
    </mat-card>
  </h2>
  <section class="container">
    <div class="cards-grid">
      <app-menu-item
        *ngFor="let item of sectionItems$ | async"
        [availableLanguages]="availableLanguages"
        [menuItem]="item"
        (menuItemDeleted)="onDeleteItemClicked($event)"
        (menuItemEdited)="onEditItemClicked($event)"
      >
      </app-menu-item>
    </div>
    <div class="buttons-container">
      <button class="management-button back-button" onclick="window.history.back()">
        {{t('buttons.back')}}
      </button>
      <button class="management-button confirm-button" (click)="onAddItemClicked()">
        {{t('buttons.addMenuItem', { section: sectionBeingEdited.name[getActiveLanguage()] })}}
      </button>
    </div>
  </section>
</ng-container>
