<ng-container *transloco="let t">
  <h2 class="page-title">{{t('titles.complaintsAdmin')}}</h2>
  <section class="cards-grid">
    <div class="card-div" *ngFor="let complaint of complaints | async">
      <p class="card-title">{{complaint.creationTimestamp | date: t('dateFormat') + ' - HH:mm'}}</p>
      <p class="card-content">{{complaint.content}}</p>
    </div>
  </section>
  <div class="complaints-button">
    <button class="management-button back-button" (click)="location.back()">{{t('buttons.back')}}</button>
  </div>
</ng-container>
