<ng-container *transloco="let t">
  <h2 class="page-title">{{t('titles.allReviews')}}</h2>
  <ng-container *ngIf="reviews; else noReviews">
    <div class="cards-grid">
      <app-review *ngFor="let review of reviews?.slice(
          pageIndex * pageSize,
          (pageIndex + 1) * pageSize > reviews!.length ? reviews!.length : (pageIndex + 1) * pageSize
        )"
        [review]="review"
      ></app-review>
    </div>
    <mat-paginator
      (page)="onPageChanged($event)"
      [length]="reviews!.length"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [pageSizeOptions]="[3, 6, 12, 18]"
      aria-label="Select page"
    >
    </mat-paginator>
  </ng-container>
  <ng-template #noReviews>
    <h3 class="w-100 mt-5 text-center text-secondary">{{t('review.noReviews')}}</h3>
  </ng-template>
  <div class="buttons-container mt-4">
    <button class="management-button back-button" (click)="location.back()">{{t('buttons.back')}}</button>
  </div>
</ng-container>

