<ng-container *transloco="let t">
  <label>
    {{t('orderForms.askTip')}}
    <mat-radio-group [(ngModel)]="selectedOption" (change)="onOptionChange()">
      <mat-radio-button value="option1">
        <mat-label> No </mat-label>
      </mat-radio-button>
      <mat-radio-button value="option2">
        <mat-label> 1€ </mat-label>
      </mat-radio-button>
      <mat-radio-button value="option3">
        <mat-label> 2€ </mat-label>
      </mat-radio-button>
      <mat-radio-button value="option4">
        <mat-label> 3€ </mat-label>
      </mat-radio-button>
      <mat-radio-button value="option5">
        <mat-label> 4€ </mat-label>
      </mat-radio-button>
    </mat-radio-group>
  </label>
</ng-container>
