<ng-container *transloco="let t">
  <h2 class="page-title">{{t('titles.menuSectionsAdmin')}}</h2>
  <form [formGroup]="form" (ngSubmit)="onEditSection()">
    <mat-select formControlName="menuSection">
      <mat-option *ngFor="let menuSection of menuSections$ | async" [value]="menuSection">
        {{menuSection.name[getActiveLanguage()]}}
      </mat-option>
    </mat-select>
    <div class="buttons-container">
      <button class="management-button back-button" type="reset" onclick="window.history.back()">
        {{t('buttons.back')}}
      </button>
      <button class="management-button cancel-button" type="button" (click)="onDeleteSectionClicked()" [disabled]="form.invalid">
        {{t('buttons.deleteSection')}}
      </button>
      <button class="management-button edit-button" type="submit" [disabled]="form.invalid">
        {{t('buttons.editSection')}}
      </button>
      <button class="management-button confirm-button" type="button" (click)="onAddSectionClicked()">
        {{t('buttons.addSection')}}
      </button>
    </div>
  </form>
</ng-container>
