:root {
  --main-color: #ffb939;
  --emphasis-color: darkorange;
  --cancel-button-color: #fa372b;
  --confirm-button-color: limegreen;
  --back-button-color: #ffd232;
  --edit-button-color: royalblue;
  --hover-row-color: #eeeeee;
  --selected-row-color: rgb(255 206 116 / 70%);
  --empty-row-color: #dddddd;
  --input-focus-color: #eeeeee;
  --menu-background-color: #dddddd;
  --footer-background-color: #bcbbbb;
  --page-title-font-size: 2.5rem;
  --big-links-font-size: 1.5rem;
  --box-shadow-color: #bbbbbb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: initial;
}

button:hover {
  cursor: pointer;
}

.page-title {
  width: 50%;
  font-size: var(--page-title-font-size);
  text-align: center;
  margin: 3rem auto 3rem auto;
}

.dark-filter {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

input, textarea, select {
  border: black solid 1px;
  padding-left: 2px;
}

input:focus, textarea:focus {
  background-color: var(--input-focus-color);
}

.scale-2 {
  transform: scale(2);
}

.scale-150 {
  transform: scale(150%);
}

mat-error {
  font-size: 0.8rem !important;
}

mat-form-field {
  margin-top: 1rem;
}


/* -------------WELCOME MESSAGE------------- */

.welcome-section {
  text-align: center;
  margin: 3rem auto;
}


/* -------------SLIDE SHOW------------- */

ngb-carousel {
  /* max-width: 70vw; */
  margin: 0 auto;
  width: 80%;
}

ngb-carousel img {
  width: 100%;
  outline: none;
  filter: brightness(0.6);
}

.carousel-welcome-user {
  position: absolute;
  right: 15%;
  top: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-welcome-user h3 {
  font-size: 3rem;
}


/* -------------MENU------------- */

.menu {
  display: flex;
  flex-direction: row;
}

.menu-left, .menu-right {
  padding-bottom: 1rem;
  width: 50%;
  background-color: var(--menu-background-color);
}

#menu-section h2 {
  text-align: center;
  margin: 3em 0 1.5em 0;
}

.menu-left h3, .menu-right h3 {
  font-size: 1.5em;
  line-height: 3em;
  padding: 1.3em 0 0 1.3em;
}

.menu-left p, .menu-right p {
  line-height: 2em;
}

.sides {
  margin-top: 1rem;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 2em;
}

.sides:last-child {
  margin-bottom: 1rem;
}

.buy-image-food {
  position: relative;
  box-sizing: content-box;
  min-width: 5vw;
  width: 5vw;
  height: 5vw;
  border-radius: 5em;
  display: block;
}

.left-side-image {
  position: relative;
  box-sizing: content-box;
  min-width: 5vw;
  width: 5vw;
  height: 5vw;
  display: block;
  margin-left: 2em;
}

.left-side-image img {
  width: 100%;
  height: 100%;
  border-radius: 5em;
}

.left-side-text {
  width:50%;
  padding-left: 2em;
}

.left-side-text p:not(.left-side__ingredients){
  font-weight: bold;
}

.left-side-text p, .right-side-text p{
  line-height: 1.3em;
}

.left-side__ingredients {
  font-size: 0.8em;
}

.right-side-text {
  padding-right: 3em;
}

.right-side {
  margin-right: 2em;
}


/* -------------MENU ORDERING------------- */

.buttons-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2em;
  width: 3rem;
}

app-user-order .right-side-text {
  padding-right: 0%;
}

app-user-order .sides {
  display: grid;
  grid-template-columns: 12% auto 10% 20%;
  grid-gap: 10px;
  align-items: center;
}

app-user-order .left-side-text {
  width: 100%;
}

app-user-order .right-side-text p {
  margin-bottom: 0%;
}

app-user-order .sides .buttons-items span.ng-star-inserted {
  height: 50%;
  margin-top: 13px;
}

/* -------------LINKS TO RESERVATIONS------------- */

.reserva {
  background-color: brown;
  text-align: center;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 50%;
  height: 3%;
  margin: 9em auto 3em;
}

.reserva b {
  font-size: var(--big-links-font-size);
  color: white;
  display: block;
  padding-top: 3%;
  padding-bottom: 3%;
}

.reserva a {
  width: 100%;
}

/* -------------LINKS TO ORDERS------------- */

.pedido {
  background-color: green;
  text-align: center;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 50%;
  height: 3%;
  margin: 3em auto 10em;
}

.pedido b {
  font-size: var(--big-links-font-size);
  color: white;
  display: block;
  padding-top: 3%;
  padding-bottom: 3%;
}

.pedido a {
  width: 100%;
}

/* -------------ABOUT US------------- */

#about-us-test h2 {
  text-align: center;
  /* margin-top: 1em; */
  /* margin-bottom: 3em; */
  margin: 3em 0 1.5em 0;
}

.about-us-content {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
}

.about-us-description {
  width: 50%;
  font-size: 1.3rem;
  padding: 5rem;
  text-align: justify;
  color: white;
}

.about-us-image {
  width: 50%;
}

.about-us-image img {
  height: 100%;
  width: 100%;
}


/* -------------LINKS TO COMPLAINTS------------- */

.complaints {
  width: 50%;
  height: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cancel-button-color);
  text-align: center;
  border-radius: 1rem;
  margin: 5rem auto 0 auto;
}

.complaints b {
  font-size: var(--big-links-font-size);
  color: white;
  display: block;
  padding-top: 3%;
  padding-bottom: 3%;
}

.complaints a {
  width: 100%;
}

/* -------------SHOPPING CART------------- */

#shopping-cart-title{
  margin-left: 1rem;
  margin-top: 5%;
}

.cart-item-lang {
  display: grid;
  grid-template-columns: 10% 15% auto 10% 5%;
  grid-gap: 10px;
  align-items: center;
  background-color: lightgray;
  width: 60%;
  margin-bottom: 1%;
  padding: 1rem;
}

app-cart div {
  margin-left: 1rem;
}

app-user-order div.ng-star-inserted:not(.menu.ng-star-inserted, .cart-buttons), h2.ng-star-inserted:not(.page-title.ng-star-inserted), label, .totalPrice {
  margin-left: 1rem;
}

app-user-order label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: large;
}

app-user-order label input {
  width: 25rem;
  margin-top: 0.5rem;
}

app-user-order .previous-order-button {
  padding: 1%;
  background-color: #ffd232;
}

app-menu h2{
  margin-top: 5%;
}

.cart-buttons {
  display: flex;
  flex-direction: row;
}

.totalPrice {
  font-size: 18px;
  font-weight: 500;
  margin-top: 1%;
}

/* -------------FOOTER------------- */

.footer-section {
  margin-top: 5rem;
}

.footer-container {
  box-sizing: content-box;
  background-color: var(--footer-background-color);
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  padding: 2rem 0 1.5rem 0;
}

.footer-container ul{
  list-style-type:none;
}

.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding-bottom: 1em;
}

.contact-list .copyright{
  font-size: 0.8em;
}

.hours {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items:center;
}

.hours-list{
  flex-direction: column;
  margin-top: 20%;
}

.hours-list div{
  margin-top: 5%;
}

.social-list {

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:1em;
}

.social-icons {
  padding-top: 50%;
}

.social-icons img{
  padding-bottom: 25%;
}

.social-media-icon {
  transform: translateY(25%);
}

.social-media-icon img {
  width: 3rem;
}

hr{
  height:80%;
  width:0.1%;
  border-width:0;
  color:black;
  background-color:black;
}

.icons-size {
  width: 3em;
  height: 3em;
  display: inline-block;
  margin-left: 1em;
}

.icons-size a {
  display: inline-block;
}

.icons-size img {
  width: 100%;
  height: 100%;
}



/* -------------ADMIN INDEX------------- */

.index-admin-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.reservations-admin-link, .complaints-admin-link {
  width: 40%;
  padding: 3rem;
  border-radius: 1rem;
  margin: 2rem;
  text-align: center;
}

.reservations-admin-link {
  color: white;
  background-color: var(--confirm-button-color);
}

.complaints-admin-link {
  color: white;
  background-color: var(--cancel-button-color);
}

.menu-edit-section h2 {
  color: white;
  background-color: var(--edit-button-color);
  width: 70%;
  margin: 2rem auto;
  padding: 3rem;
  border-radius: 1rem;
  text-align: center;
}


/* -------------TABLE------------- */

.data-table {
  width: 70vw;
  margin: 4vw auto 3vw auto;
  box-sizing: border-box;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  padding: 0.8vw;
  border: 1px solid lightgrey;
}

.data-table th {
  font-size: 1.3vw;
  background-color: var(--main-color);
  color: white;
}

.data-table td {
  text-align: center;
  font-size: 1vw;
}

.data-table tr:not(.title-row):not(.empty-row):not(.non-selectable-row):hover {
  cursor: pointer;
}

.data-table tr:not(.selected-row):not(.title-row):not(.empty-row):hover {
  background-color: var(--hover-row-color);
}

.title-row {
  text-align: center;
}

.selected-row {
  background-color: var(--selected-row-color);
}

.empty-row {
  background-color: var(--empty-row-color);
}

.info {
  text-align: center;
  width: 40%;
  margin: 4rem auto 4rem auto;
  font-size: 2.5rem;
}


/* -------------ADMIN RESERVATIONS SELECTOR------------- */

.reservations-selector {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 5rem;
  background-color: var(--main-color);
  border-radius: 0.5rem;
}

.reservations-selector button {
  padding: 0.5rem;
  background: none;
}

.reservations-selector button:disabled {
  background-color: #dddddd;
  cursor: default;
  border-radius: 0.5rem;
}

.counter {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--main-color);
  color: white;
}

app-reservations-admin app-admin-reservations-table .mat-mdc-paginator-container {
  justify-content: center;
  flex-wrap: nowrap;
  padding-bottom: 3%;
}

app-reservations-admin app-admin-reservations-table .mat-mdc-paginator {
  background: none;
}

app-reservations-admin .buttons-container .management-button{
  width: 25%;
}


/* -------------BUTTONS------------- */

.buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.management-button {
  box-shadow: 0 5px 10px var(--box-shadow-color);
  border-radius: 5px;
  display: block;
  font-size: 1.2rem;
  min-width: 15%;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  margin: 0 1rem;
}

.form-button {
  box-shadow: 0 5px 10px var(--box-shadow-color);
  border-radius: 5px;
  display: block;
  font-size: 1.2rem;
  min-width: 50%;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  margin: 1.2rem 1rem 0;
}

.management-button:hover {
  cursor: pointer;
}

.management-button:disabled {
  cursor: default;
  opacity: 70%;
}

.back-button {
  color: black;
  background-color: var(--back-button-color);
}

.cancel-button {
  color: white;
  background-color: var(--cancel-button-color);
}

.confirm-button {
  color: black;
  background-color: var(--confirm-button-color);
}

.edit-button {
  color: white;
  background-color: var(--edit-button-color);
}

/* -------------FORM PAGE------------- */

/* -------------LOG IN------------- */

app-log-in form {
  display: grid;
  width: 100%;
  justify-content: center;
}

/* -------------SIGN UP------------- */

app-sign-up form {
  display: grid;
  width: 100%;
  justify-content: center;
}

/* -------------BOTH------------- */

app-username-input, app-email-input,
app-password-input, app-password-confirmation {
  margin-bottom: 11px;
  margin-left: 30px;
}

.already-signed-up-text {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-mdc-input-element{
  font-size: medium !important;
}

.mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
  margin-left: -1%;
}
mat-error {
  color: red;
  margin-top: -6px;
  margin-bottom: 10px;
  font-size: 8px;
}
/* -------------NEW RESERVATION------------- */

app-new-reservation form {
  display: grid;
  justify-items: left;
  width: 100%;
  justify-content: center;
}

/* -------------COMPLAINTS------------- */

app-complaints form {
  display: grid;
  margin: 0 20% 0 20%;
}

app-complaints-admin .complaints-button {
  display: flex;
  justify-content: center;
}

/* -------------LINK TO LOGIN / SIGNUP------------- */

.already-paragraph {
  display: inline;
}

.already-div {
  margin: 1rem 0 3rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.go-to-login-signup {
  color: var(--emphasis-color);
  background: none;
  font-size: inherit;
}

.go-to-login-signup:hover {
  cursor: pointer;
}

/*----------------- Menú Edit ----------------*/
.menu-form {
  font-size: 1rem;
  text-align: center;
  padding: 2rem;
  margin: 2rem 2rem 10rem 2rem;
}

.menu-form select {
  font-size: 2rem;
}

.menu-form option {
  font-size: 20px;
  text-align: center;
}

app-menu-sections-admin .mat-mdc-select-trigger {
  justify-content: center;
  width: 25%;
  border: 1px solid black;
  margin-bottom: 2%;
}

app-menu-sections-admin .mat-mdc-select {
  display: flex;
  justify-content: center;
}

app-menu-sections-admin .mat-mdc-select-value {
  padding: 2%;
}

/* .mdc-menu-surface.mat-mdc-select-panel { */
  /* width: 25%; */
/* } */

/* -------------COMPLAINTS AND SUGGESTIONS/ ADMIN------------- */

.cards-grid {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-div {
  margin: 1rem;
  padding: 1rem;
  background-color:white;
  border-radius: 1rem;
  height: 15rem;
  border: var(--main-color) solid 5px;
}

.card-title {
  width: 100%;
  color: var(--emphasis-color);
  text-align: center;
  font-size: 1.4rem;
  margin: 0 0 1rem;
}

.card-content {
  font-size: 1.1rem;
  box-sizing: border-box;
  padding: 0.5rem;
  text-align: justify;
  height: 80%;
  overflow: auto;
}


/* -------------MENU ITEMS------------- */
.page-title input {
  font-size: var(--page-title-font-size);
  text-align: center;
}

.menu-card-div {
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--main-color);
}

.menu-card-div .name-input {
  padding: 3px 0;
  width: 92%;
}

.menu-card-div .delete-item-button {
  background: none;
  margin-left: 1%;
  width: 5%;
}

.menu-card-div .image-input {
  width: 100%;
}

.menu-card-div .ingredients-textarea {
  display: block;
  height: 4rem;
  width: 100%;
}

.menu-card-div input {
  margin: 0.5rem 0;
}

.menu-card-div .euro-label {
  display: inline-block;
  margin-right: 0.5rem;
}


/* ------------- TABLET ------------- */

@media screen and (max-width: 1268px) and (min-width: 601px) {
  html {
    font-size: 12px;
  }

  .scale-2 {
    transform: scale(1.8);
  }

  .scale-150 {
    transform: scale(125%);
  }

  .page-title {
    font-size: 2rem;
  }


  /* ----- CAROUSEL ----- */

  ngb-carousel {
    /* max-width: 70vw; */
    margin: 50px auto;
    width: 100%;
  }

  ngb-carousel img {
    width: 100%;
    outline: none;
    filter: brightness(0.6);
  }

  /* ----- ABOUT US ----- */

  .about-us-content {
    flex-direction: column-reverse;
  }

  .about-us-description {
    width: 75%;
    font-size: 1.3rem;
  }

  .about-us-image {
    width: 60%;
    margin-top: 5rem;
  }

  .about-us-image img {
    border-radius: 0.5rem;
    height: 100%;
  }

  /* ----- MENU ----- */

  .menu-left h3, .menu-right h3 {
    font-size: 1.5em;
  }

  .left-side__ingredients {
    font-size: 1em;
  }

  .left-side-image img {
    width: 110%;
    height: 110%;
    margin-top: -10%;
  }

  .right-side {
    font-size: 1.2em;
  }

  /* ----- MENU EDIT ----- */

  app-menu-sections-admin .mat-mdc-select-trigger {
    width: 30%;
  }

  app-menu-sections-admin .mdc-menu-surface.mat-mdc-select-panel {
    width: 30%;
}

  /* ----- RESERVE HERE ----- */


  .reserva a {
    width: 100%;
  }

  /* ----- HOJA DE RECLAMACIONES BOTON ----- */
  .complaints {
    width: 40%;
    height: 5em;
    margin: 3em auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .complaints a {
    width: 100%;
  }

  .complaints b {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  /* ----- FOOTER ----- */

  .contact-list li {
    font-size: 0.9em;
  }

  .hours-list{
    flex-direction: column;
    margin-top: 50%;
  }

  .hours-list div{
    margin-top: 10%;
  }


  /* ----- BUTTONS ----- */

  .management-button {
    font-size: 1rem;
    width: 20%;
    justify-content: center;
  }

  /* ----- TABLE ----- */

  .data-table {
    width: 75vw;
    margin: 4vw auto 3vw auto;
    box-sizing: border-box;
  }

  .data-table th, .data-table td {
    padding: 1.8vw;
  }

  .data-table th {
    font-size: 1.8vw;
  }

  .data-table td {
    font-size: 1.8vw;
  }

  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ----- LOG-IN / SIGN-UP ----- */
  app-username-input, app-email-input,
  app-password-input, app-password-confirmation {
  margin-left: 0px;
}

  /* ----- SHOPPING CART ----- */
  .cart-buttons {
    width: 100%;
  }

  .cart-item-lang {
    width: 75%;
    grid-template-columns: 8% 15% auto 8% 5%;
  }
}


/* ------------- MOBILE PHONE ------------- */

@media screen and (max-width: 600px) {
  html {
    font-size: 9px;
  }

  .scale-2 {
    transform: scale(1.5);
  }

  .scale-150 {
    transform: scale(1);
  }

  .page-title {
    font-size: 1.8em;
    width: 75%;
  }


  /* ----- CARRUSEL DE IMAGENES ----- */

  ngb-carousel {
    /* max-width: 70vw; */
    margin: 25px auto;
    width: 100%;
  }

  ngb-carousel img {
    width: 100%;
    outline: none;
    filter: brightness(0.6);
  }


  /* ----- MENU ----- */
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu-left, .menu-right {
    height: 100%;
    width: 100%;
  }

  .menu-left p, .menu-right p {
    font-size: 1.3em;
  }

  .left-side__ingredients {
    font-size: 1.3em;
  }

  .right-side-text {
    font-size: 1.3em;
  }

  .left-side-text {
    width:75%;
  }

  .left-side-image img {
    width: 200%;
    height: 200%;
    margin-top: -50%;
  }

  .menu-left h3, .menu-right h3 {
    font-size: 1.5em;
  }

  /* ----- MENU EDIT ----- */

  app-menu-sections-admin .mat-mdc-select-trigger {
    width: 60%;
  }

  app-menu-sections-admin .mdc-menu-surface.mat-mdc-select-panel {
    width: 60%;
}

  /* ----- RESERVE HERE ----- */

  .reserva a {
    width: 100%;
  }

  .reserva b {
    padding: 5%;
  }

  /* ----- ADMIN RESERVATIONS ----- */

  app-admin-reservations-table .mat-mdc-paginator-container {
    flex-wrap: nowrap;
  }

  app-admin-reservations-table .mat-mdc-paginator-container .mat-mdc-paginator-page-size-label {
    margin: 0%;
  }
  app-admin-reservations-table .mat-mdc-paginator-container .mat-mdc-paginator-page-size {
    margin-right: 5px;
    align-items: center;
    font-size: 8px;
  }

  app-admin-reservations-table .mat-mdc-paginator-container .mat-mdc-paginator-range-actions .mat-mdc-paginator-range-label {
    margin: 0%;
  }

  /* ----- ABOUT US ----- */
  .about-us-content {
    flex-direction: column-reverse;
  }

  .about-us-image {
    height: 100%;
    width: 100%;
  }

  .about-us-image img{
    border-radius: 0;
  }

  .about-us-description {
    font-size: 1.3rem;
    width: 90%;
  }

  /* ----- HOJA DE RECLAMACIONES BOTON ----- */
  .complaints {
    width: 60%;
    margin-bottom: 25%;
  }

  .complaints a {
    width: 100%;
  }

  .complaints b {
    padding: 10%;
  }

  /* ----- HOJA DE RECLAMACIONES ----- */

  #complaint {
    width: 75%;
  }

  /* ----- BUTTONS ----- */

  .management-button {
    font-size: 1.5rem;
    width: 75%;
    margin-top: 1rem;
  }

  app-reservations-admin .buttons-container .management-button{
    width: 75%;
  }

  .form-button {
    width: 75%;
  }

  .buttons-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  .reservations-selector {
    order: 1;
  }

  .complaints-admin-link {
    font-size: 7px;
  }

  .pedido b {
    padding: 5%;
  }

  /* ----- LOG IN / SIGN UP ----- */
  app-username-input, app-email-input,
  app-password-input, app-password-confirmation {
  margin-left: 0px;
}

  /* ----- TABLE ----- */

  .data-table {
    width: 100%;
    box-sizing: border-box;
  }

  .data-table th, .data-table td {
    padding: 2vw 0;
  }

  .data-table th {
    font-size: 3vw;
  }

  .data-table td {
    font-size: 3vw;
  }

  /* ----- FOOTER ----- */
  .footer-section {
    width: 100%;
    height: 40rem;
  }

  .footer-container {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .social-list {
    height: 100%;
    flex-direction: column;
    padding-bottom: 0%;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 5%;
  }

  .contact-list {
    line-height: 1.8em;
  }

  .hours-list{
    flex-direction: column;
    margin-top: 10%;
  }


  .cards-grid {
    grid-template-columns: 1fr;
  }

  .card-div {
    height: auto;
    max-height: 20rem;
  }

  /* ----- SHOPPING CART ----- */
  .cart-buttons {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  app-user-order label {
    font-size: 15px;
  }

  .cart-item-lang {
    width: 95%;
    grid-template-columns: 5% 15% auto 10% 5%;
  }
}
