<ng-container *transloco="let t">
  <h2>{{t('titles.menu')}}</h2>
  <div class="menu">
    <div class="menu-left">
      <ng-container *ngFor="let sections of menuLeft">
        <h3>{{sections.name[getActiveLanguage()]}}</h3>
        <div class="sides" *ngFor="let item of sections.items">
          <div class="left-side-image" *ngIf="item.imageUrl">
            <img [src]="item.imageUrl" alt="food">
          </div>
          <div class="left-side-text">
            <p>{{item.name[getActiveLanguage()]}}</p>
            <p class="left-side__ingredients">{{item.ingredients[getActiveLanguage()]}}</p>
          </div>
          <div class="right-side-text">
            <p>{{item.price | currency: 'EUR'}}</p>
          </div>
          <div class = "buttons-items" *ngIf="page=='order'">
            <button mat-icon-button (click)="deleteFromCart(item)"><mat-icon>remove_circle_outline</mat-icon></button>
            <ng-container *ngFor="let cartItem of cartItems">
              <span *ngIf="cartItem.menuItem===item">{{ cartItem.amount }}</span> 
            </ng-container>
            <button mat-icon-button (click)="addToCart(item)"><mat-icon>add_circle_outline</mat-icon></button>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="menu-right">
      <ng-container *ngFor="let sections of menuRight">
        <h3>{{sections.name[getActiveLanguage()]}}</h3>
        <div class="sides" *ngFor="let item of sections.items">
          <div class="left-side-image" *ngIf="item.imageUrl">
            <img [src]="item.imageUrl" alt="food">
          </div>
          <div class="left-side-text">
            <p>{{item.name[getActiveLanguage()]}}</p>
            <p class="left-side__ingredients">{{item.ingredients[getActiveLanguage()]}}</p>
          </div>
          <div class="right-side-text">
            <p>{{item.price | currency: 'EUR'}}</p>
          </div>

          <div class = "buttons-items" *ngIf="page=='order'">
            <button (click)="addToCart(item)">-</button>
            <span>{{ cartItems[0].amount }}</span>
            <button (click)="addToCart(item)"> Buy </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
