<ng-container *transloco="let t">
  <!--<button class="btn btn-warning" (click)="storeMenuItems()">AÑADIR ITEMS AL MENÚ</button>-->
  <h2>{{t('titles.menu')}}</h2>
  <div class="menu">
    <div class="menu-left">
      <ng-container *ngFor="let section of menuLeft">
        <h3>{{section.name[getActiveLanguage()]}}</h3>
        <div class="sides" *ngFor="let item of section.items">
          <div class="left-side-image" *ngIf="item.imageSrc !== null">
            <img [src]="item.imageSrc" alt="food">
          </div>
          <div class="left-side-text">
            <p>{{item.name[getActiveLanguage()]}}</p>
            <p class="left-side__ingredients">{{item.ingredients[getActiveLanguage()]}}</p>
          </div>

          <div class="right-side-text">
            <p>{{item.price | currency: 'EUR'}}</p>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="menu-right">
      <ng-container *ngFor="let section of menuRight">
        <h3>{{section.name[getActiveLanguage()]}}</h3>
        <div class="sides" *ngFor="let item of section.items">
          <div class="left-side-image" *ngIf="item.imageSrc !== null">
            <img [src]="item.imageSrc" alt="food">
          </div>
          <div class="left-side-text">
            <p>{{item.name[getActiveLanguage()]}}</p>
            <p class="left-side__ingredients">{{item.ingredients[getActiveLanguage()]}}</p>
          </div>

          <div class="right-side-text">
            <p>{{item.price | currency: 'EUR'}}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
