<ng-container *transloco="let t">
  <h1 mat-dialog-title>{{t('formDialogTitles.' + (data.menuItemBeingUpdated ? 'updateMenuItem' : 'addMenuItem'))}}</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex-column">
    <div mat-dialog-content>
      <div formGroupName="name">
        <mat-form-field appearance="outline" *ngFor="let lang of availableLanguages">
          <mat-label>{{t('menuItem.name.' + lang)}}</mat-label>
          <input matInput type="text" [formControlName]="lang">
        </mat-form-field>
      </div>
      <div formGroupName="ingredients">
        <mat-form-field appearance="outline" *ngFor="let lang of availableLanguages">
          <mat-label>{{t('menuItem.ingredients.' + lang)}}</mat-label>
          <textarea matInput class="complaint-textarea" cols="30" rows="4" [formControlName]="lang"></textarea>
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>{{t('menuItem.price')}}</mat-label>
        <input class="text-end" matInput type="number" step="0.01" formControlName="price">
        <span matTextSuffix>€</span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{t('menuItem.sectionId')}}</mat-label>
        <mat-select formControlName="sectionId">
          <mat-option *ngFor="let section of menuSections$ | async" [value]="section.id">
            {{section.name[getActiveLanguage()]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-image-file-input
        [initialImageName]="initialImageName"
        (imageFileChanged)="onImageFileInputChanged($event)"
      ></app-image-file-input>
      <div class="text-center">
        <img
          *ngIf="!shouldUnselectImage && (selectedImageFile || uploadedImageUrl)"
          [src]="selectedImageUrl"
          [alt]="t('menuItem.image')"
          class="img-fluid img-thumbnail"
        >
      </div>
    </div>
    <div mat-dialog-actions class="justify-content-around">
      <button mat-raised-button [mat-dialog-close]="null" type="reset">
        {{t('confirmationOptions.cancel')}}
      </button>
      <button mat-raised-button [disabled]="form.invalid" type="submit">
        {{t('confirmationOptions.confirm')}}
      </button>
    </div>
  </form>
</ng-container>
